
div h3 a {
  color: white;
  text-decoration: none;
}

#current-channel{
  border-right: 2px solid #BF360C;
  width: 90px;
}

.login-submit-en{
  border: none;
  background-color: #ff5722;
  padding: 15px;
  color: white;
}
.login-submit-en:hover{
  cursor: pointer;
}

.login-submit-dis{
  border: none;
  background-color: #808080;
  padding: 15px;
  color: white;
}

.post-card{
  margin-top: 10px!important;
}

.post-card-text{
  /*margin: 20px !important;*/
  font-size: 1.4rem!important;
  margin-bottom: 10px;
}

.author-tag{
  margin-left: 0px;
  color: #AAAAAA;
  font-style: italic;
}
.author-tag a {
  font-size: 1.2rem;
  color: #AAAAAA;
  text-decoration: none;
}
.author-name{
  padding-bottom: 3px;
  margin-left: 5px;
}

.login-button{
  float: right;
  text-align: right;
}

.mdl-demo #subscribe {
  position: absolute;
  right: 200px;
  top: 36px;
  z-index: 999;
}

.likes-container{
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.likes-heart{
  color: #F44336;
  cursor: pointer;
}

.heart-red{
  color: #F44336;
}

.heart-gray{
  color: #808080;
}

.error{
  font-style: italic;
  color: #F44336;
  font-size: 90%;
  margin-bottom: 10px;
}

.channel-button{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #CCCCCC;
  text-decoration: none;
  color: black;
  margin: 15px;
  min-width: 100px;
  text-align: center;
  font-size: 150%;
}

.pointer{
  cursor: pointer;
}

.ch-owner{
  font-size: 50%;
  font-style: italic;
  color: #707070;
}

.share-line{
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;:
}

.mdl-navigation__spacer {
    color: #424242;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    opacity: .87

}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__spacer {
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 10px;
    padding-top: 15px;
    margin: 0;
    color: #757575
}

.index-link{
  color: white;
  text-decoration: none;
  font-size: 30px;
}
